strong{
    font-weight: bold;
}
body{
    width: 80%;
    margin: 2em auto;
    border:2px solid #000000;
}
header{
    width: 80%;
    margin:1em auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.foto{
    width: 30%;
}
.nome{
    font-size: 35px;
    font-weight: bold;
    padding: 0.5em;
}
p{
    font-size: 20px;
    padding: 0.1em 1em;
}
.icones{
    width: 2.5%;
    
    color:black;
    font-size: 18px;
}
.conteudo{
    text-indent: 2em;
    text-align: justify;
    line-height: 1.5em;
    
}